@font-face {
  font-family: "Arpona";
  src: url("../assets/fonts/Fontspring-DEMO-arpona-regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
