* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ochre: #cb7a24ff;
  --yale-blue: #16475dff;
  --alabaster-grey: #e0e0e0ff;
  --ink-black: #070419ff;
  --seagrass: #12a78eff;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html.viewer-open {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "DM Sans";
  background-image: radial-gradient(
    circle,
    rgb(72, 66, 100) 0%,
    rgb(7, 4, 25) 100%
  );
  background-attachment: fixed;
  color: var(--alabaster-grey);
}

h1 {
  text-shadow: 3px 3px var(--yale-blue);
  color: var(--seagrass);
  font-size: 6rem;
}

h1,
h2 {
  font-family: "Arpona";
}

h3 {
  font-family: "DM Sans";
}

main {
  width: 70%;
  margin: auto;
  border: 1px dashed var(--ochre);
  outline: 1px dotted var(--seagrass);
  outline-offset: 5px;
}

header {
  padding: 30px;
}

.team-section {
  margin-top: 40px;
}

.team-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-logo-container {
  margin-right: 20px;
}

/* TODO: hacer reactive */
.team-logo {
  width: 45px;
  height: auto;
  margin-bottom: 10px;
}

.card-gallery {
  container-type: inline-size;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  list-style-type: none;
}
@container (max-width: 1400px) {
  /*TODO: query */
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  max-width: 240px; /* TODO: reactive */
  aspect-ratio: 63 / 88;
  border: 3px solid var(--alabaster-grey);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: transform ease-in-out 0.5s;
}

.card:hover {
  transition: transform 0.25s;
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* TODO: ns si es mejor cover o contain para que no se deforme o se vea peor*/
  display: block;
}

.card span {
  display: none;
}

.prev,
.next {
  display: none;
}

#viewer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

#viewer-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 1.6rem;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  padding-inline: 2rem;
}

#viewer-image {
  height: 100%;
  object-fit: contain;
  border: 3px solid var(--alabaster-grey);
  border-radius: 8px;
}

#viewer-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

#viewer-gallery img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
